<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
    | <a href="newsfaq.html">FAQ</a>
    | <a href="mailto:hn@ycombinator.com">Support</a>
    | <a href="https://github.com/HackerNews/API">API</a>
    | <a href="security.html">Security</a>
    | <a href="lists">Lists</a>
    | <a href="bookmarklet.html" rel="nofollow">Bookmarklet</a>
    | <a href="http://www.ycombinator.com/legal/">Legal</a>
    | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
    | <a href="mailto:hn@ycombinator.com">Contact</a>
    |
    </div>
</div>