<!DOCTYPE html>
<html>
    <head>
        <title>Hacker News</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# semantic ui #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    
        {# local css #}
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <div class="ui container">
            {% include 'navbar.html.twig' %}
            {% block content %}
            {% endblock %}
            {% include 'footer.html.twig' %}
        </div>
    </body>
</html>
